{% load static %}
{% include 'Admin/dashboard/header.html' %}
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
            <div class="row">
                 <div class="col-lg-5  mb-1 form-group ico  ">
                        <i class="fa fa-search"></i>
                          <select class="select2 form-control select2-placeholder3" id="default-select">
                             <option> </option>
                              <option value="1">Student 1</option>
                              <option value="2">Student 2</option>
                               <option value="3">Student 3</option>
                              <option value="4">Student 4</option>
                               <option value="5">Student 5</option>
                              <option value="6">Student 6</option>
                        </select>
                       </div>
                    
                     <div class="col-md-7 text-right pr-2  ">
 
                                <a   class="btn btn-primary btn-min-width btn-sm "  href="{% url 'edit_paper_student_detail' %}">Edit Detail </a>
                                <a   class="btn btn-default   float-right btn-sm  ml-1" href="{% url 'student_list' %}" >Back to list</a>
                                 
                        
                       
                      </div>
               </div>
           </div>
             
             <div class="detail_block">
                 <div class="card form">
                  <div class="card-content ">
                      <div class="card-body"  >
                         <div class="row ">
                           <div class="col-lg-4 mx-auto mt-1  ">
                              <div class="head">
                                <div class="row ">
                                  <div class="col-lg-6   ">
                                      <label>Student Photo  </label>
                                    <img src="../app-assets/images/avatar.jpg">
                                  </div>
                                   
                                  <div class="col-lg-6  ">
                                      <label>Student Signature  </label>
                                    <img src="../app-assets/images/sign.jpg">
                                  </div>
                                 
                                </div>

                              </div>
                           </div>
                         </div>

                          <div class="row mt-2">
                             <div class="col-lg-12  pt-1 "><h4 class="title-1">Personal Details</h4></div>
                           <div class="col-lg-3  pt-1 ">
                              <label>Registration No.</label>
                              <p class="value">ST01254855</p>
                             </div>
                              <div class="col-lg-3  pt-1 ">
                               <label>Name</label>
                                 <p class="value">Amit Singh</p>
                             </div>
                              <div class="col-lg-3  pt-1 ">
                               <label>Gender  </label>
                              <p class="value">Male</p>
                           </div>
                           <div class="col-lg-3  pt-1 ">
                               <label>Date of birth  </label>
                              <p class="value">01/06/1988</p>
                           </div>
                            <div class="col-lg-3  pt-1 ">
                             <label>Parent Name</label>
                                 <p class="value">Akash Singh</p>
                             </div>
                              <div class="col-lg-3  pt-1 ">
                               <label>Relation with parent  </label>
                              <p class="value">Fahter</p>
                           </div>
                           <div class="col-lg-3  pt-1 ">
                               <label>Hobbies  </label>
                              <p class="value">Dancing</p>
                           </div>

                            <div class="col-lg-12  pt-3 "><h4 class="title-1">Contact Details</h4></div>
                           <div class="col-lg-3  pt-1 ">
                              <label>Email ID</label>
                              <p class="value">amit@gmail.com</p>
                             </div>
                              <div class="col-lg-3  pt-1 ">
                               <label>Mobile No.</label>
                                 <p class="value">8574586655</p>
                             </div>
                              <div class="col-lg-6  pt-1 ">
                               <label>Parent's Mobile no.  </label>
                              <p class="value">8574585566</p>
                           </div>
                           <div class="col-lg-3  pt-1 ">
                               <label>Address</label>
                              <p class="value">523 a/ 1555, Indira nagar </p>
                           </div>
                            <div class="col-lg-3  pt-1 ">
                             <label>City</label>
                                 <p class="value">Lucknow</p>
                             </div>
                              <div class="col-lg-3  pt-1 ">
                               <label>State </label>
                              <p class="value">UP</p>
                           </div>
                           <div class="col-lg-3  pt-1 ">
                               <label>Pin code  </label>
                              <p class="value">226001</p>
                           </div>

                           <div class="col-lg-12  pt-3 "><h4 class="title-1">Course Details</h4></div>
                           <div class="col-lg-3  pt-1 ">
                              <label>Course Name</label>
                              <p class="value">B.Tech (CS)</p>
                             </div>
                              <div class="col-lg-3  pt-1 ">
                               <label>Batch </label>
                                 <p class="value">1st year</p>
                             </div>
                               
                         </div>
                       </div>
                     </div>
                   </div>


             </div>
      </div>
     </div>
   </div>
 
{% include 'Admin/dashboard/footer.html' %}
