<?php include('header.php')  ?>
    <div class="app-content content position-relative  ">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="card info">
                    <div class="card-content">
                        <div class="card-body">
                             <div class="">
                                <table id="example" class="display table table-striped table-bordered data-table"  >
                                    <thead>
                                        <tr>
                                            
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                             <th>First name</th>
                                            <th>Last name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td class="details-control"> </td>

                                        </tr>
                                         <tr>
                                            
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td> </td>

                                        </tr> <tr>
                                             
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td> </td>

                                        </tr>
                                         <tr>
                                             
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td> </td>
                                        </tr> <tr>
                                             
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td> </td>
                                        </tr>
                                         <tr>
                                             
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td> </td>
                                        </tr> <tr>
                                             
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td> </td>
                                        </tr>
                                         <tr>
                                             
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td> </td>
                                        </tr> <tr>
                                             
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>  
                                            <td> </td>

                                        </tr>

                                        <tr>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>  
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                             <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>
                                            <td>sadsa</td>  
                                            <td> </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                             
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
 
<?php include('footer.php')  ?>