<!DOCTYPE html>
<html lang="en">

<head>
    <title>Slateo Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1>Welcome Slateo DB API Pannel</h1>
            <p>Education is a utility which makes human a personality.</p>
            <a href="/admin" class="btn btn-info" role="button" target="_blank">Go Admin</a>
            <a href="https://documenter.getpostman.com/view/13860109/TzeTKA63#4f69d4ae-3606-4b1a-b088-54b43f004274" target="_blank" class="btn btn-info" role="button">Go Documnetation</a>
        </div>
    </div>

</body>

</html>