{% load static %}
{% include 'Admin/dashboard/header.html' %}
<style>
  /* {% comment %} #disabledBtn {
  pointer-events: none;
  cursor: default;
} {% endcomment %} */
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

<div class="app-content content position-relative  ">

  <div class="content-wrapper">
    <div class="content-body ">
      <!-- Revenue, Hit Rate & Deals -->
      <div class="col-lg-12 col-md-12 col-sm-12  ">
        <h4 class="head mb-2  ">Edit Paper | PaperID : <strong>{{data.paperID}}</strong><a
            class="btn btn-default   float-right btn-sm  mt--1 " href="{% url 'paper_list' %}">Back to list</a> </h4>
        <div class="card form">
          <div class="card-content ">
            <div class="card-body">
              <div class="row ">
                <div class="col-lg-12 mt-1  ">
                  <h4 class="title-1">Paper Basic Details</h4>
                </div>
                <div class="col-lg-4 mt-1  form-group">
                  <label>Unique Paper ID </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="uniquePaperIdError"
                    style="color:red;"></span>
                  <input type="text" class="form-control" placeholder="Enter unique paper id" name="uniquePaperId"
                    id="uniquePaperId" value="{{data.paperID}}" onkeyup="validateUniquePaperID()" onkeypress="return /[0-9a-zA-Z]/i.test(event.key)"
                    onkeypress="return AvoidSpace(event)" required />
                </div>
                <div class="col-lg-4 mt-1  form-group">
                  <label>Unique Paper Name </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="uniquePaperNameError"
                    style="color:red;"></span>
                  <input type="text" class="form-control" placeholder="Enter unique papr name" name="uniquePaperName"
                    id="uniquePaperName" value="{{data.paperName}}" onkeyup="validateUniquePapername()" onkeypress="return /[0-9a-zA-Z]/i.test(event.key)" required />
                </div>
                <div class="col-lg-4 mt-1 form-group">
                  <label>Total Exam Time </label>
                  <input type="time" class="form-control without_ampm" placeholder="Enter associated course name"
                    name="associatedCourse" id="associatedTime" value="{{data.totalPaperTime}}"
                    onkeyup="validateAssociatedCourse()" required readonly/>
                </div>
                <div class="col-lg-4 mt-1   form-group">
                  <label>Associated Course</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="associatedCourseError"
                    style="color:red;"></span>
                  <input type="text" class="form-control" placeholder="Enter associated course name"
                    name="associatedCourse" id="associatedCourse" value="{{courseName}}"
                    onkeyup="validateAssociatedCourse()" onclick="validateField()" readonly required />
                  <p id='coursenameId' style="display: none;">{{data.paperAssociateCourse}}</p>
                </div>
                <div class="col-lg-4 mt-1   form-group">
                  <label>Subject </label>
                  <input type="text" class="form-control" placeholder="Enter associated course name"
                    name="associatedCourse" id="subject_name" value="{{subjectName}}"
                    onkeyup="validateAssociatedCourse()" onclick="validateField()" readonly required />
                  <p id='associatedSubject' style="display: none;">{{data.paperAssociateSubject}}</p>
                </div>
                <div class="col-lg-4 mt-1   form-group">
                  <label>Total Marks</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="totalMarksError"
                    style="color:red;"></span>
                  <input type="text" class="form-control " placeholder="Enter total marks" name="totalMarks"
                    id="totalMarks" value="{{data.paperTotalMarks}}" onclick="validateField()"
                    onkeypress="return onlyNumberKey(event)" readonly maxlength="6" onkeyup="validateTotalMarks()"
                    readonly required />
                </div>
                <div class="col-lg-4 mt-1   form-group">
                  <label>Passing Marks</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="passingMarksError"
                    style="color:red;"></span>
                  <input type="text" class="form-control " placeholder="Enter passing marks" name="passingMarks"
                    id="passingMarks" value="{{data.paperPassingMark}}" onkeypress="return onlyNumberKey(event)"
                    onclick='changePassingMarks()' maxlength="6" onkeyup="validatePassingMarks()" required />
                </div>
                <div class="col-lg-4 mt-1  form-group">
                  <label>Paper Languages</label>
                  <input type="text" class="form-control" placeholder="Enter associated course name"
                    name="associatedCourse" id="associatedLanguage" value="{{paperLanguage}}"
                    onkeyup="validateAssociatedCourse()" onclick="validateField()" readonly />
                  <p id="paperLanguage" style="display: none;">{{data.paperLanguage}}</p>
                </div>
                <div class="col-lg-4 mt-1  form-group">
                  <label>Paper Default Language</label>
                  <input type="text" class="form-control" placeholder="Enter associated course name"
                    name="associatedCourse" value="{{paperdefaultLang}}" onkeyup="validateAssociatedCourse()"
                    id='defaultLanguage' onclick="validateField()" readonly />
                </div>

                <div class="col-lg-12 mt-1  form-group">
                  <label>Paper Guidelines</label>
                  <textarea style="height: 75px;" class="form-control"
                    id='guidelines'>{{data.paperGuideLines}}</textarea>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% comment %}
      ============================================================================================================================================================
      {% endcomment %}
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card form">
          <div class="card-content ">
            <div class="card-body">
              <div class="row ">
                <div class="col-lg-12 mt-1">
                  <h4 class="title-1">Paper Sections Details</h4>
                  <p style='display:none;' id='hiddenSectionalDetailsData'>{{data.questionTypeDetails}}</p>
                </div>
                <div class="col-lg-4 mt-1  form-group">
                  <label>Total No. of Sections </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="uniquePaperIdError"
                    style="color:red;"></span>
                  <input type="text" id="no-of-section" class="form-control" placeholder="Enter total no. of sections"
                    value="{{data.totalNoSection}}" onclick='changeSection()' onkeypress="return onlyNumberKey(event)"
                    maxlength="2" onkeyup="renderSections()" readonly />
                </div>

              </div>

              <div class="sections" id="sections">
                <div class="row" id='preiousSectionHtml'>
                  <div class="col-lg-4 mt-1  form-group">
                    <label>Total Question </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="totalQuestionsError"
                      style="color:red;"></span>
                    <input type="text" class="form-control" placeholder="Enter total questions" id='totalQuestions'
                      value="{{data.totalnumberOuestion}}" onkeypress="return onlyNumberKey(event)" readonly
                      onclick='changeSection()' onkeyup="checkTotalNumberOfQuestions()" maxlength="6" />
                  </div>
                  <div class="col-lg-4 mt-1  form-group">
                    <label>Total Marks</label>
                    <input type="text" class="form-control" id='total_Marks' value="{{data.paperTotalMarks}}"
                      readonly onclick='changeSection()' />
                  </div>
                </div>
                <div class="table-responsive" onclick='changeSection()'>
                  <table class="table table data-table ">
                    <thead>
                      <tr>
                        <th>Section No.</th>
                        <th>No. of Questions</th>
                        <th>Mendatory Questions</th>
                        <th>Type of Questions</th>
                        <th class="time_limit">Time Limit</th>
                        <th>Total Marks Per section</th>
                      </tr>
                    </thead>
                    <tbody id='sectionalRows' style='opacity:1;pointer-events:none;'>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} //
      ============================================================================================================================================================
      {% endcomment %}
      <div class="col-lg-12 col-md-12 col-sm-12  ">
        <div class="card form">
          <div class="card-content ">
            <div class="card-body">
              <div class="card form pl-1 pr-1 pt-0">
                <div class="card-content ">
                  <div class="card-body">
                    <div class="row ">
                      <div class="col-lg-12 mt-1  ">
                        <h4 class="title-1">Added Question Details
                          <span class="float-right ml-4">Total Marks:&nbsp;<strong id='showTotalMarks'>
                              {{data.paperTotalMarks}}</strong></span>
                        </h4>
                      </div>
                    </div>
                    <div class="sections pt-2 ques_type" id='addQuestionInSections'>
                      <div class="accordion">
                        <div class="card mb-0">
                          <div class="card-header" href="#collapseOne">
                            <a class="card-title">
                              Section A <span class="float-right">Max. Marks: 50</span>

                            </a>
                          </div>
                          <div id="collapseOne" class="card-body  ">

                            <div class="added-ques">
                              <div class="row">
                                <div class="col-md-4 pl-0">
                                  <div class="card ques_sidebar mt-0">
                                    <div class="card-content  ">
                                      <div class="card-body   pl-1 pr-1">
                                        <div class="head">Topics Covered
                                        </div>
                                        <div class="filter">
                                          <div class="options">
                                            <label> Topic 1 <span>5</span></label>
                                            <label> Topic 2 <span>5</span></label>
                                            <label> Topic 3 <span>5</span></label>
                                          </div>


                                        </div>

                                      </div>
                                    </div>
                                  </div>


                                </div>

                                <div class="col-md-8 pt-1">

                                  <div class="ques">
                                    <h5><span>Q.1</span> What is Capital of India? <a href="javascript:;"
                                        class="float-right del"><i class="fa fa-trash"></i></a></h5>

                                    <div class="options">
                                      <label><input checked="" type="radio" name="">
                                        Option A
                                      </label>
                                      <label><input type="radio" name="">
                                        Option B
                                      </label>
                                      <label><input type="radio" name="">
                                        Option C
                                      </label>
                                      <label><input type="radio" name="">
                                        Option D
                                      </label>
                                    </div>

                                  </div>
                                  <div class="ques">
                                    <h5><span>Q.2</span> What is Capital of India? <a href="javascript:;"
                                        class="float-right del"><i class="fa fa-trash"></i></a></h5>

                                    <div class="options">
                                      <label><input checked="" type="radio" name="">
                                        Option A
                                      </label>
                                      <label><input type="radio" name="">
                                        Option B
                                      </label>
                                      <label><input type="radio" name="">
                                        Option C
                                      </label>
                                      <label><input type="radio" name="">
                                        Option D
                                      </label>
                                    </div>


                                  </div>
                                  <div class="ques">
                                    <h5><span>Q.3</span> What is Capital of India? <a href="javascript:;"
                                        class="float-right del"><i class="fa fa-trash"></i></a></h5>

                                    <div class="options">
                                      <label><input checked="" type="radio" name="">
                                        Option A
                                      </label>
                                      <label><input type="radio" name="">
                                        Option B
                                      </label>
                                      <label><input type="radio" name="">
                                        Option C
                                      </label>
                                      <label><input type="radio" name="">
                                        Option D
                                      </label>
                                    </div>


                                  </div>

                                </div>
                              </div>




                            </div>

                            <a data-toggle="modal" data-target="#questions" href="javascript:;" class="add-ques-btn">+
                              Add Questions</a>

                          </div>
                          <div class="card-header  " href="#collapseTwo">
                            <a class="card-title">
                              Section B<span class="float-right">Max. Marks: 50</span>

                            </a>
                          </div>
                          <div id="collapseTwo" class="card-body  ">
                            <a data-toggle="modal" data-target="#questions" href="javascript:;" class="add-ques-btn">+
                              Add Questions</a>
                          </div>
                          <div class="card-header  " data-parent="#accordion" href="#collapseThree">
                            <a class="card-title">
                              Section C <span class="float-right">Max. Marks: 50</span>

                            </a>
                          </div>
                          <div id="collapseThree" class=" ">
                            <a data-toggle="modal" data-target="#questions" href="javascript:;" class="add-ques-btn">+
                              Add Questions</a>
                          </div>
                        </div>
                      </div>

                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- question list -->
      <div class="modal fade question_modal" id="questions" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              Questions List
              </button>
            </div>
            <div class="modal-body  ">
              <div class="row">
                <div class="col-lg-3 mb-1 form-group no-ico  pl-2">
                  <label style='font-weight:500;'>Course</label>
                  <input type="text" class="form-control" placeholder="Course" value="" id='showCourse' readonly
                    style='pointer-evenys:none;' />
                </div>
                <div class="col-lg-3 mb-1 form-group no-ico  pl-2">
                  <label style='font-weight:500;'>Subject</label>
                  <input type="text" class="form-control" placeholder="Subject" value="" id='showSubject' readonly
                    style="pointer-evenys:none;" />
                </div>

                <div class="col-md-3">
                  <label style='font-weight:500;'>Topic</label>
                  <select class="selectpicker" data-live-search="false" id='showTopic' onchange="getval(this)">
                    <option value=''>Select Topic</option>
                    {% comment %} <option>Trigonometry</option> {% endcomment %}
                  </select>
                </div>
                <div class="col-md-3">
                  <label style='font-weight:500;'>Year</label>
                  <select class="selectpicker" data-live-search="false" id='showYear' onchange="getval(this)">
                    <option value=''>Select Year</option>
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020 </option>
                    <option value="2019">2019</option>
                  </select>
                </div>


                <div class="col-md-3" id='showFilter'>
                  <div class="card ques_sidebar">
                    <div class="card-content  ">
                      <div class="card-body pt-1 pl-1 pr-1" id='resetCard'>
                        <div
                          style='display:inline;padding: 0px 0 5px; font-size: 18px; font-weight: 600; color: #333;margin-bottom: 25px;'>
                          Filter<a
                            style='float: right; font-size: 12px;  background: #007dc6; color: #fff; font-weight: 500; padding: 2px 10px 3px;'
                            onclick='resetFilter()' class='check' title='Reset filter'><i id='resetFilter'
                              class="fas fa-sync-alt"></i></a>
                        </div>
                        <hr>
                        <div id='filterDiv'>
                          <div class="filter mt-2">
                            <h5>By Difficulty</h5>
                            <div class="options">
                              <label><input type="checkbox" name='Difficulty' onclick='filter_Select(this)'
                                  value="Easy">Easy</label>
                              <label><input type="checkbox" name='Difficulty' onclick='filter_Select(this)'
                                  value="Moderate">Moderate</label>
                              <label><input type="checkbox" name='Difficulty' onclick='filter_Select(this)'
                                  value="Difficult">Difficult</label>
                            </div>
                          </div>

                          <div class="filter">
                            <h5>By Question Type</h5>
                            <div class="options">
                              <label><input type="checkbox" name='questionType' onclick='filter_Select(this)'
                                  value="Objective"> Objective</label>
                              <label><input type="checkbox" name='questionType' onclick='filter_Select(this)'
                                  value="Subjective"> Subjective</label>

                            </div>
                          </div>

                          <div class="filter">
                            <h5>By Language</h5>
                            <div class="options">
                              <label><input type="checkbox" name='language' onclick='filter_Select(this)'
                                  value="English">English</label>
                              <label><input type="checkbox" name='language' onclick='filter_Select(this)'
                                  value="Hindi">Hindi</label>
                            </div>
                          </div>

                          <div class="filter">
                            <h5>By Marks</h5>
                            <div class="options">
                              <label><input type="checkbox" name='marks' onclick='filter_Select(this)' value="1">
                                1</label>
                              <label><input type="checkbox" name='marks' onclick='filter_Select(this)' value="2">
                                2</label>
                              <label><input type="checkbox" name='marks' onclick='filter_Select(this)'
                                  value="3">3</label>
                              <label><input type="checkbox" name='marks' onclick='filter_Select(this)'
                                  value=">3">>3</label>

                            </div>
                          </div>
                        </div>




                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-9 mt-2" id='showQuestions'>
                  <div class="Ques-top-opt" id='filtersOption'>
                    Applied filters :
                    <a id='allFilter' href="javascript:;"
                      style='background: #fff; padding: 3px 10px; border:solid 1px #ccc;  font-size: 13px; font-weight: 600;'>All</a>
                    <div class="sel_filters">
                    </div>
                    <span class="total_ques">Total Count : <strong id='showQuestionCount'></strong></span>
                  </div>
                  <div class="table-responsive ques_list " id="style-5">
                    <table id="example1" class="display one-col table data-table dataTable">
                      <tbody id='questionListBody'>
                      </tbody>
                    </table>
                    <h3 class="text-center m-2 p-2" id='noQuestionData'
                      style='display:none;border:0px solid grey;background-color:white;'>No Record available!</h3>
                  </div>
                </div>

                <div class="col-md-12 mt-2 text-right">
                  <a href="#" data-dismiss="modal" class="btn btn-secondary" onclick="resetQuestionList()">
                    Cancel
                  </a>

                  {% comment %} <a href="javascript:;" data-dismiss="modal" class="btn btn-primary add-to-paper">
                    Add to Paper
                  </a> {% endcomment %}
                  <button class="btn btn-primary add-to-paper" id='addQuestiontoPaperButton' disabled>Add to
                    Paper</button>
                </div>
              </div>
              <!-- <a href="paper-list.php" class="btn btn-primary btn-sm"   >OK</a> -->
            </div>

          </div>
        </div>
      </div>
      {% comment %} //
      ============================================================================================================================================================
      {% endcomment %}
      {% if data.automatedSet == True %}
      <div class="col-lg-12 col-md-12 col-sm-12  ">
        <div class="card form">
          <div class="card-content ">
            <div class="card-body set-creation">
              <div class="row ">
                <div class="col-lg-12 mt-1  ">
                  <h4 class="title-1">Paper Set Options</h4>
                </div>

                <div class="col-lg-4 mt-1  form-group">
                  <p>Is automated Set Creation Allowed?</p>
                   {% comment %} {'data': {'id': 12, 'paperID': 'paper002', 'paperName': 'math-002', 'paperTotalMarks': '50', 'paperPassingMark': '25', 'paperStatus': 'Completed', 'paperDeafaultLanguage': 'English', 'paperLanguage': '2', 'paperGuideLines': 'ccxbxb dshjhd jdsgfjds jfjhdgfjhdsf jjdsfg jhdsg fjgdsjf jhdsg fjhdgfjg dsjf', 'totalPaperTime': '13:00', 'totalNoSection': '2', 'totalnumberOuestion': '3', 'sectionDetails': "['1-2-2-25-1,2', '2-2-1-25-1,2']", 'SectionWiseQuestionList': '[{"Section_1":["507","508"]},{"Section_2":["517"]}]', 'automatedSet': False, 'noOfSets': '1', 'created_at': '2021-06-11T12:46:33.407048Z', 'updated_at': '2021-06-11T12:47:57.280898Z', 'paperAssociateCourse': 1, 'paperAssociateSubject': 1}, 'status': True, 'message': 'success', 'sectioncount': 2} {% endcomment %}
                </div>
                <div class="col-lg-4 mt-1  form-group">
                {% if data.automatedSet == True %}
                <label><input type="radio" checked="" name="set" value="yes" onclick=""> Yes</label>
                <label><input type="radio" name="set" value="no"> No</label>
                {% else %}
                  <label><input type="radio"  name="set" value="yes" onclick=""> Yes</label>
                  <label><input type="radio" checked="" name="set" value="no"> No</label>
                {% endif %}
                </div>
              </div>
              <div class="set-options">
                <div class="row">
                  <div class="col-lg-3 mt-1  form-group">
                    <label>Maximum Paper Sets</label>
                    <input type="text" class="form-control" value="{{data.noOfSets}}" name="" id="maxPossibleSets"
                      onkeypress="return onlyNumberKey(event)" maxlength="3" readonly>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% else %}
      <div class="col-lg-12 col-md-12 col-sm-12  ">
        <div class="card form">
          <div class="card-content ">
            <div class="card-body set-creation">
              <div class="row ">
                <div class="col-lg-12 mt-1  ">
                  <h4 class="title-1">Paper Set Options</h4>
                </div>

                <div class="col-lg-4 mt-1  form-group">
                  <p>Is automated Set Creation Allowed?</p>
                </div>
                <div class="col-lg-4 mt-1  form-group">
                  <label><input type="radio" name="set" value="yes" onclick="paperSetOptions(this)"> Yes</label>
                  <label><input type="radio" checked="" name="set" value="no"> No</label>
                </div>

              </div>

              <div class="set-options" id="set-otp">
                <div class="row">
                  <div class="col-lg-3 mt-1  form-group">
                    <label>Maximum Possible Sets</label>
                    <input type="text" class="form-control" value="{{data.noOfSets}}" name="" id="maxPossibleSets"
                      onkeypress="return onlyNumberKey(event)" maxlength="3" readonly>
                  </div>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>
    {% endif %}
    <p id="sectionDetailPara" style="display: none;">{{data.sectionDetails}}</p>


    {% comment %} //
    ============================================================================================================================================================
    {% endcomment %}

    <div class="text-right  pt-0">
      {% comment %} css for disabling this button is applied in strting of this file {% endcomment %}
      <button class="btn btn-primary pl-5 pr-5" style='margin-right:20px;' onclick="updatePaper()">UPDATE</button>
    </div>
  </div>
</div>
</div>
{% comment %} </form> {% endcomment %}
<p style='display:none;' id='tokenKey'>{{tokenKey}}</p>
<p id="SectionWiseQuestionList" style="display:none;">{{data.SectionWiseQuestionList}}</p>
<p id="SectionWiseQuestionDict" style="display:none;">{{data.SectionWiseQuestionList}}</p>
<p id="questionsDict" style="display:none;">{{questionsDict}}</p>
    <p id="sectionQuestiondata" style="display: none;">{{questionsDict}}</p>



</div>

<!-- Modal -->


{% include 'Admin/dashboard/footer.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
  $('select').selectpicker();
</script>
<script>
  $(document).ready(function () {
    $('.set-creation .set-options').show()
  });

  function validateField() {
    Swal.fire({
      icon: 'info',
      text: 'This field is not editable!',
    })
  }

  function changeSection() {
    Swal.fire({
      title:'This field in not editable!',
      icon: 'info',
      text: "You can only edit Basic details,Questions and set options.",
    })
  }
</script>
<script src="{% static 'adminModule\js\admin-js\customJS\adminPaper_JS\new-edit-paper.js' %}"></script>
<!-- <script src="{% static 'adminModule\js\admin-js\customJS\examPaperJS\editPaper.js' %}"></script> -->



<script src="{% static 'adminModule\js\admin-js\customJS\adminPaper_JS\admin-paper-sectional-detail.js' %}"></script>
<!-- <script src="{% static 'adminModule\js\admin-js\customJS\adminPaper_JS\admin-create-paper.js' %}"></script> -->