{% load static %}
{% include 'Admin/dashboard/header.html' %}
    <div class="app-content content position-relative  ">
         
      <div class="content-wrapper">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="col-lg-12 col-md-12 col-sm-12  ">
             <h4 class="head mb-2  ">Add Subjects 
                {% if authority.subject_list == 'True' or authority.admin == '18pixels@admin' %}
               <a   class="btn btn-default   float-right btn-sm  mt--1 " href="{% url 'allSubjects_list' %}" >Back to list</a>
              {% endif %}
            </h4>
                <div class="card  form">
                  <div class="card-content ">
                    {% if success_data %}
                          <span style='color:#3fd411;font-weight:500;'>{{ success_data }}</span>
                            {% endif %}
                      <div class="card-body"  >
                      <form method='POST'>
                      {% csrf_token %}
                             <div class="row ">
                                  <div class="col-lg-4 offset-md-1 mt-1  form-group">
                                      <label>Subject ID </label>&nbsp;<i style="color:red;font-size:10px;font-weight:900;" class="fas fa-asterisk"></i><span id='' >&nbsp;&nbsp;&nbsp;
                                        <small style='color:red;' id='subjectIDValidation'></small>
                                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      {% if errDict.subjectID %}
                                      <span style='color:#ff8785;font-weight:500;'>Already exist</span>
                                      <input type="text" class="form-control" maxlength="" onkeyup="validateSubjectId(this)" id="subjectID" placeholder="Enter subject id" style='color:#ff8785;' name='subjectID' value="{{data.subjectID}}" required/>
                                       {% else %}
                                      <input type="text" class="form-control" maxlength="" onkeyup="validateSubjectId(this)" id="subjectID" placeholder="Enter subject id" name='subjectID' value="{{data.subjectID}}" required/>
                                      {% endif %}
                                   </div>
                                    
                                   <div class="col-lg-5 mt-1   form-group">
                                      <label>Subject Name</label>&nbsp;<i style="color:red;font-size:10px;font-weight:900;" class="fas fa-asterisk"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      {% if errDict.subjectName %}
                                      <span style='color:#ff8785;font-weight:500;'>Already exist</span>
                                      <input type="text" class="form-control" id="subjectName" placeholder="Enter subject name" style='color:#ff8785;' name='subjectName' value="{{data.subjectName}}" required/>
                                       {% else %}
                                      <input type="text" class="form-control" id="subjectName" placeholder="Enter subject name" name='subjectName' value="{{data.subjectName}}" required/>
                                      {% endif %}
                                   </div>

                                   <div class="text-right col-lg-2 mt-2 pt-2">
                                        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                                     </div>
                        </form>
                              </div>
                      </div>
                  </div>
              </div>
            </div>
      </div>
     </div>
   </div>

   <!-- Modal -->
   <div class="modal fade small with-img" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <img src="{% static 'adminModule/images/success-icon-10.png' %}">
           <p> Subject list has been uploaded successsfully.  </p>
           <a href="{% url 'subject_list' %}" class="btn btn-primary btn-sm"  >OK</a>
           
        </div>
         
      </div>
    </div>
  </div>

   <!-- Modal -->
   <div class="modal fade small with-img" id="success1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <img src="{% static 'adminModule/images/success-icon-10.png' %}">
           <p> Subject  has been added successsfully.  </p>
           <a href="#" data-dismiss="modal" class="btn btn-primary btn-sm"  >OK</a>
           
        </div>
         
      </div>
    </div>
  </div>
 
{% include 'Admin/dashboard/footer.html' %}
<script>
  function validateSubjectId(thisTxt){
      var data =  $(thisTxt).val();
      console.log(data,data.length);
      if(data.length < 4){
          $('#subjectIDValidation').css('color','red');
            $('#subjectIDValidation').html('Min. 4 characters allowed');
            $('#submitBtn').attr('disabled',true);
      }else{
          $('#subjectIDValidation').css('color','');
            $('#subjectIDValidation').html('');
            $('#submitBtn').attr('disabled',false);
      }
  }
  </script>
  
  <script>
      var i = 0;
      $("#subjectID").on('keypress', function (e) {
          // if ($(this).val().length < 1) {
          if (e.which == 32) {
              return false;
          }
      });
  </script>
<script>
  var i = 0;
  $("#subjectName").on('keypress', function (e) {
      if ($(this).val().length < 1) {
          if (e.which == 32) {
              return false;
          }
      }
      else {
          if (e.which == 32) {
              if (i != 0) {
                  return false;
              }
              i++;
          }
          else {
              i = 0;
          }
      }
      var regex = /^[a-zA-Z ]*$/;
      var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (regex.test(str)) {
          return true;
      }

      e.preventDefault();
      return false;
  });
</script>