{% load static %}
<!-- {% include 'Admin/dashboard/header.html' %} -->
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
             
             <div class="col-lg-12 col-md-12 col-sm-12  ">
               <h4 class="head mb-2  ">Preview Paper Details   <a   class="btn btn-default   float-right btn-sm  mt--1 " href="" >Back</a></h4>
                <div class="card form paper_det">
                    <div class="card-content ">
                      <div class="card-body"  >
                         <div class="row ">
                           <div class="col-lg-12 mt-1  ">
                             <h4 class="title-1">Basic Details</h4>
                           </div>

                               <div class="col-lg-3 mt-1  form-group">
                                      <label>Unique Paper ID  </label>
                                       <p class="value">PID001</p>
                                   </div>
                                  <div class="col-lg-3 mt-1  form-group">
                                      <label>Unique Paper Name </label>
                                       <p class="value">Maths-Algebra</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Associated Course</label>
                                       <p class="value">B.Sc.</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Subject</label>
                                       <p class="value">Maths</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Year</label>
                                       <p class="value">2020</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Total Marks</label>
                                      <p class="value">100</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Passing Marks</label>
                                       <p class="value">40</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Language</label>
                                       <p class="value">English, Hindi</p>
                                   </div>
                                    <div class="col-lg-12 mt-1   form-group">
                                      <label>Guidelines</label>
                                       <p class="value"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                       consequat.</p>
                                   </div>

                                   <div class="col-lg-12 mt-1  ">
                                   <h4 class="title-1">Paper Sections Details</h4>
                                 </div>
                                  <div class="col-lg-2 mt-1  form-group">
                                      <label>Paper Credit  </label>
                                      <p class="value">4</p>
                                   </div>
                                   <div class="col-lg-3 mt-1  form-group">
                                      <label>Total No. of Sections </label>
                                      <p class="value">3</p>
                                    </div>
                                    <div class="col-lg-2 mt-1  form-group">
                                      <label>Total Question  </label>
                                      <p class="value">50</p>
                                   </div>
                                   <div class="col-lg-2 mt-1  form-group">
                                      <label>Total Marks </label>
                                      <p class="value">100</p>
                                    </div>
                                    <div class="col-lg-3  mt-1   form-group">
                                           <label>Is time limit on this section </label>
                                           <p class="value">No</p>
                                      </div>

                                    <div class="col-lg-12 mt-1  form-group">
                                        <div class="sec_det">
                                            <div class="row">
                                                 <div class="col-lg-2    form-group">
                                                  <label>Section </label>
                                                </div>
                                                 <div class="col-lg-2   form-group">
                                                  <label>No. of Questions </label>
                                                </div>
                                                 <div class="col-lg-2  form-group">
                                                  <label>Mandatory   Questions </label>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <label>Question  Type </label>
                                                </div>
                                                <div class="col-lg-3   form-group">
                                                  <label>Total Marks Per Section </label>
                                                </div> 
                                            </div>
                                              <div class="row">
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">A</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">20</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">10</p>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">Objective</p>
                                                </div>
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">20</p>
                                                </div> 
                                            </div>
                                             <div class="row">
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">B</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">20</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">10</p>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">Objective</p>
                                                </div>
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">20</p>
                                                </div>  
                                            </div>
                                            <div class="row">
                                                  <div class="col-lg-2    form-group">
                                                  <p class="value">C</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">20</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">10</p>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">Objective</p>
                                                </div>
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">20</p>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>

                                        <div class="col-lg-12 mt-1  ">
                                         <h4 class="title-1">Questions   Details <a href=""><i class="fa fa-edit   float-right"></i></a></h4>
                                       </div>
                                        <div class="col-lg-12 mt-1 mb-0 form-group">
                                            <h5 class="font-weight-bold">Section A </h5>
                                          </div>
                                         <div class="col-lg-12 mt-0   pl-0  form-group  added-ques d-block">
                                               <div class="ques">
                                                      <h5><span>Q.1</span> What is Capital of India?  </h5>

                                                      <div class="options">
                                                          <label><input checked="" type="radio" name="">
                                                             Option A
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option B
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option C
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option D
                                                          </label>
                                                      </div>


                                                 </div>

                                                   <div class="ques">
                                                      <h5><span>Q.2</span> What is Capital of India?  </h5>

                                                      <div class="options">
                                                          <label><input checked="" type="radio" name="">
                                                             Option A
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option B
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option C
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option D
                                                          </label>
                                                      </div>


                                                 </div>

                                                   <div class="ques">
                                                      <h5><span>Q.3</span> What is Capital of India?  </h5>

                                                      <div class="options">
                                                          <label><input checked="" type="radio" name="">
                                                             Option A
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option B
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option C
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option D
                                                          </label>
                                                      </div>


                                                 </div>
                                          </div>

                                           <div class="col-lg-12 mt-1 mb-0 form-group">
                                            <h5 class="font-weight-bold">Section B </h5>
                                          </div>
                                         <div class="col-lg-12 mt-0   pl-0  form-group  added-ques d-block">
                                               <div class="ques">
                                                      <h5><span>Q.1</span> What is Capital of India?  </h5>

                                                      <div class="options">
                                                          <label><input checked="" type="radio" name="">
                                                             Option A
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option B
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option C
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option D
                                                          </label>
                                                      </div>


                                                 </div>

                                                   <div class="ques">
                                                      <h5><span>Q.2</span> What is Capital of India?  </h5>

                                                      <div class="options">
                                                          <label><input checked="" type="radio" name="">
                                                             Option A
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option B
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option C
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option D
                                                          </label>
                                                      </div>


                                                 </div>

                                                   <div class="ques">
                                                      <h5><span>Q.3</span> What is Capital of India?  </h5>

                                                      <div class="options">
                                                          <label><input checked="" type="radio" name="">
                                                             Option A
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option B
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option C
                                                          </label>
                                                           <label><input type="radio" name="">
                                                             Option D
                                                          </label>
                                                      </div>


                                                 </div>
                                          </div>
                                        

                                         

                                          <div class="col-lg-12 mt-3  ">
                                            <h4 class="title-1">Paper Set Options <a href=""><i class="fa fa-edit   float-right"></i></a></h4>
                                         </div>
                                          <div class="col-lg-3 mt-1  form-group">
                                            <label>Is automated Set Creation Allowed? </label>
                                            <p class="value">Yes</p>
                                          </div>
                                          <div class="col-lg-9 mt-1  form-group">
                                              <div class="row">
                                                   <div class="col-lg-3  form-group">
                                                     <label>Maximum Possible Sets</label>
                                                       <p class="value">5</p>
                                                   </div>
                                                     
                                              </div>
                                          </div>
                                  </div>

                         </div>
                       </div>
                     </div>
             </div>
                 
             </div>
            
           <div class="text-right  pt-2 bottom-btn">
                   <a  class="btn btn-primary pl-5 pr-5" data-toggle="modal" data-target="#alert" href="javascript:;">Submit</a>
               </div>
      </div>
     </div>
   </div>

     <!-- Modal -->
  <div class="modal fade small" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <p>Are you sure want to create exam paper <strong>(Maths-Algebra)</strong>.  </p>
           
            <a href="" class="btn btn-dark btn-sm mr-1" data-dismiss="modal">No</a>
           <a href="" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#success">Yes</a>
           
        </div>
         
      </div>
    </div>
  </div>

   <div class="modal fade small with-img" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <img src="../app-assets/images/success-icon-10.png">
           <p> Exam paper has been created successsfully.  </p>
           
            
           <a href="" class="btn btn-primary btn-sm"   >OK</a>
           
        </div>
         
      </div>
    </div>
  </div>
<!-- {% include 'Admin/dashboard/footer.html' %} -->
