{% load static %}
{% include 'Admin/dashboard/header.html' %}    
<div class="app-content content position-relative  ">
  <form  method="post">
      {% csrf_token %}
      <div class="content-wrapper">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="col-lg-12 col-md-12 col-sm-12  ">
            {% if authority.batch_list == 'True' or authority.admin == '18pixels@admin' %}
             <h4 class="head mb-2  ">Edit Batch <a   class="btn btn-default   float-right btn-sm  mt--1 " href="{% url 'batch_list' %}" >Back to list</a>
                {% endif %}
            </h4>
                <div class="card  form">
                  <div class="card-content ">
                      <div class="card-body"  >
                             <div class="row ">
                                  <div class="col-lg-4 mt-1  form-group">
                                      <label>Edit Batch ID *</label>
                                      <input type="text" class="form-control" placeholder="Enter batch id" value="{{data.batchID}}" id='batchID' onkeyup="validateEditBatchID()" name='batchID' readonly/>
                                   </div>
                                   <div class="col-lg-8 mt-1   form-group">
                                      <label>Edit Batch Name *</label>
                                      <input type="text" class="form-control" placeholder="Enter batch name" value="{{data.batchName}}" id='batchName'  name="batchName"/>
                                   </div>
                                   <div class="col-lg-12 mt-0 mb-1 form-group">
                                      <label>Edit Batch Description</label>
                                     <textarea class="form-control" name="batchDescription" placeholder="Enter batch description">{{data.batchDescription}}</textarea>
                                   </div>
                                   <div class="col-lg-3   form-group">
                                     <label>Course Type</label>
                                     <input type="text" class="form-control" placeholder="Enter batch name" value="{{data.batchCourseType.courseTypeName}}" id='' onkeyup="" name="batchCourseTypeDetail" readonly />
                                   </div>
                                   <div class="col-lg-3    form-group">
                                     <label>Course</label>
                                     <input type="text" class="form-control" placeholder="Enter supervisor id" value="{{data.batchCourseName.courseName}}" name="batchCourseNameDetail" readonly/>
                                   </div>
                                   {% comment %} <div class="col-lg-3   form-group">
                                     <label>Edit Batch Supervisor ID</label>
                                      <input type="text" class="form-control" placeholder="Enter supervisor id" value="{{data.batchSuperVisorID}}" name="batchSupervisorID" />
                                   </div>
                                    <div class="col-lg-3    form-group">
                                     <label>Edit Batch Supervisor Name</label>
                                     <input type="text" class="form-control" placeholder="Enter supervisor name" value="{{data.batchSuperVisorName}}" name="batchSupervisorName" />
                                   </div> {% endcomment %}
                               </div>
                             
                      </div>
                  </div>
              </div>

               <div class="text-right    pt-1">
                    <button type="submit" id='batchUpdateButton' class="btn btn-primary pl-5 pr-5">Update</button>
                 </div>
            </div>
      </div>
     </div>
   </div>
  </form>
   {% comment %} <!-- Modal -->
  <div class="modal fade small" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <p>Exam ID/Name already exists. Enter the Exam ID/Name which has not been  used before. </p>
        </div>
         
      </div>
    </div>
  </div> {% endcomment %}
 
{% include 'Admin/dashboard/footer.html' %}
<script src="{% static 'adminModule\js\admin-js\customJS\adminValidation_JS\edit-batch-validate.js' %}" type="text/javascript"></script>
<script>
    var i = 0;
    $("#batchName").on('keypress', function (e) {
        if ($(this).val().length < 1) {
            if (e.which == 32) {
                return false;
            }
        }
        else {
            if (e.which == 32) {
                if (i != 0) {
                    return false;
                }
                i++;
            }
            else {
                i = 0;
            }
        }
        var regex = /^[a-zA-Z0-9 ]*$/;
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }

        e.preventDefault();
        return false;
    });
</script>