{% load static %}

<!-- BEGIN: Vendor JS-->
<!-- <script src="{% static 'adminModule/vendors/js/vendors.min.js' %}" type="text/javascript"></script> -->
<script src="{% static 'adminModule/vendors/js/forms/toggle/switchery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'adminModule/js/scripts/forms/switch.min.js' %}" type="text/javascript"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'adminModule/vendors/js/forms/validation/jqBootstrapValidation.js' %}"
    type="text/javascript"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{% static 'adminModule/js/core/app-menu.min.js' %}" type="text/javascript"></script>
<script src="{% static 'adminModule/js/core/app.min.js' %}" type="text/javascript"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{% static 'adminModule/js/scripts/forms/form-login-register.min.js' %}" type="text/javascript"></script>
<!-- END: Page JS-->

<script>
    $('.loader').fadeOut('slow');
</script>


</body>
<!-- END: Body-->

</html>