{% load static %}
<!-- {% include 'Admin/dashboard/header.html' %} -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" /> -->
<div class="app-content content position-relative  ">
<div class="col-lg-12 col-md-12 col-sm-12  ">
                <h4 class="head mb-2  ">Create Exam
                    <a class="btn btn-default   float-right btn-sm  mt--1 " href="{% url 'examlist' %}">Back to
                        list</a>
                </h4>
            </div>

    <div class="content-wrapper">
        <div class="content-body ">
            <!-- Revenue, Hit Rate & Deals -->
            <div class="progress-wrap  mt-1">
                <div class="line-progress-bar">
                    <div class="line line1"></div>
                    <ul class="checkout-bar">
                        <li class="progressbar-dots completed"><span>Create Exam Paper</span></li>
                        <!-- <li class="progressbar-dots completed"><span>Create Exam Process</span></li> -->
                        <li class="progressbar-dots active"><span>Select Exam Papers</span></li>
                        <li class="progressbar-dots"><span>Schedule Exam Papers</span></li>
                        <!-- <li class="progressbar-dots"><span>Assign Resources & Resposibility</span></li>
                    <li class="progressbar-dots"><span>Exam Roadmap</span></li> -->
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12  ">

                <h4 class="head mb-2 mt-5">Select Papers</h4>
                <div class="card  form">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-lg-6 mt-1 mb-2 form-group ico">
                                        <i class="fa fa-search"></i><input type="text" class="form-control ml-3" onkeyup="search_table()" name="" id="search_field_input"
                                        placeholder="Search">
                                    <!-- <i class="fa fa-search"></i>
                                    <select class="form-control" id="default-select">
                                        <option value=''> </option>
                                        <option value="1">Physics Paper 1</option>
                                        <option value="2">Maths Paper 1</option>
                                        <option value="3">Chemistry Paper 3</option>

                                    </select> -->
                                </div>
                                <!-- <div class="col-lg-2 mt-1 mb-2 form-group ico">
                                </div>
                                <div class="col-lg-4 mt-1 mb-2 form-group   ">
                                    <select class="form-control" id="paperYear" onchange="getSelectedYearPaper()">
                                        <option class="d-none"> Select Year</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>

                                    </select>
                                </div> -->
                            </div>

                            <div class="row ">
                                <div class="col-lg-12 pl-0 pr-0">
                                    <div class="table-responsive ">
                                        <table class="table" id="paperTable">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Paper ID </th>
                                                    <th>Paper Name</th>
                                                    <th>Subject</th>
                                                    <th>Year</th>
                                                    <th>Total Marks </th>
                                                    <th>Total Time </th>
                                                    <th width="150" class="text-center">Select </th>
                                                </tr>
                                            </thead>
                                            <tbody id='appendPapers'>
                                            <!-- <tr class='dataRows'>
                                                <td class='paperId' style='display:none;'>{{item.id}}</td>
                                                <td class='paper_ID'>{{item.paperID}}</td>
                                                <td class='paper_name'>{{item.paperName}}</td>
                                                <td class='paper_subject'>{{item.subjectName}}</td>
                                                <td class='paper_year'>{{item.year}}</td>
                                                <td class='paper_total_marks'>{{item.paperTotalMarks}}</td>
                                                <td class='paper_total_time'>{{item.totalPaperTime}} hr</td>
                                                <td class="text-center">
                                                    <a href="javascript:;" onclick="getPaperID(this)" class="addP"> + Select</a>
                                                    <a href="javascript:;" onclick="removePaperID(this)" class="delP"> <i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr> -->
                                            </tbody>
                                        </table>
                                        <div id='noRowFound' class="text-center" style="display:;font-size: medium;font-weight:600;">Loading papers ...</div>
                                      

                                    </div>

                                    <!--  <div class="text-right pr-2 mt-1">
                                   <a href="javascript:;" class="btn btn-info btn-sm add_seld">Add Selected Batches</a>
                                 </div>
 -->
                                </div>






                            </div>

                        </div>
                    </div>
                </div>

                <div class="text-right    pt-1" style="min-height: 550px;">
                    <!-- <a class="btn btn-default pl-5 pr-5 mr-1  " href="{% url 'create_exam' %}">Back</a>-->
                    <button class="btn btn-default pl-5 pr-5" onclick="gotoPage1()" id='prevButtonP1'>Back</button>
                    <button class="btn btn-primary pl-5 pr-5" onclick="gotoPage3()" id='nextButtonP2' disabled>Next</button>


                </div>




            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade big " id="add-paper" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-3">
                        <span>Batch ID</span>

                        <select class="form-control">
                            <option>BID0054</option>
                            <option>BID0064</option>
                            <option>BID0074</option>
                        </select>

                    </div>
                    <div class="col-md-3">
                        <span>Total No. of student</span>
                        <p>45
                        </p>
                    </div>
                    <div class="col-md-3">
                        <span>Batch Name</span>
                        <p> CSIIA</p>
                    </div>
                    <div class="col-md-3">
                        <span>Batch Superviser</span>
                        <p> ABS</p>
                    </div>

                </div>
            </div>
            <div class="modal-body  pt-0">

                <div class="form">
                    <div class="card-content  ">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-lg-7 pr-0 ">
                                    <div class="row ">
                                        <div class="col-lg-11 mt-1 mb-1 form-group ico">
                                            <i class="fa fa-search"></i>
                                            <select class="select2 form-control select2-placeholder1 ">
                                                <option> </option>
                                                <option value="1">Paper 1</option>
                                                <option value="2">Paper 1</option>
                                                <option value="3">Paper 3</option>
                                                <option value="4">Paper 4</option>
                                                <option value="5">Paper 5</option>
                                                <option value="6">Paper 6</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table-responsive mt--2 ">
                                        <table id="" class="display table data-table">
                                            <thead>
                                                <tr>
                                                    <!-- <th><input type="checkbox" name=""></th> -->
                                                    <th>Paper ID </th>
                                                    <th>Paper Name</th>
                                                    <th>Unique EBP ID</th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>PID001</td>
                                                    <td>Computer Science P1</td>
                                                    <td>EBR-PB7-P03</td>
                                                    <td>
                                                        <a href="javascript:;"  class="add"> +</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PID001</td>
                                                    <td>Computer Science P1</td>
                                                    <td>EBR-PB7-P03</td>
                                                    <td>
                                                        <a href="javascript:;" class="add"> +</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PID001</td>
                                                    <td>Computer Science P1</td>
                                                    <td>EBR-PB7-P03</td>
                                                    <td>
                                                        <a href="javascript:;" class="add"> +</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PID001</td>
                                                    <td>Computer Science P1</td>
                                                    <td>EBR-PB7-P03</td>
                                                    <td>
                                                        <a href="javascript:;" class="add"> +</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PID001</td>
                                                    <td>Computer Science P1</td>
                                                    <td>EBR-PB7-P03</td>
                                                    <td>
                                                        <a href="javascript:;" class="add"> +</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PID001</td>
                                                    <td>Computer Science P1</td>
                                                    <td>EBR-PB7-P03</td>
                                                    <td>
                                                        <a href="javascript:;" class="add"> +</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PID001</td>
                                                    <td>Computer Science P1</td>
                                                    <td>EBR-PB7-P03</td>
                                                    <td>
                                                        <a href="javascript:;" class="add"> +</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="text-right pr-2 mt-1">
                                        <a href="javascript:;" class="btn btn-info btn-sm add_seld_p">Add Selected
                                            Papers</a>
                                    </div>

                                </div>

                                <div class="col-lg-5   pl-0 sel_batches">
                                    <h5>Selected Papers</h5>
                                    <div id="add_papers" class="batchess"><span class="watermark">No papers added</span>

                                    </div>

                                </div>

                                <div class="col-lg-12 text-right   ">
                                    <a href="#" data-dismiss="modal" class="btn btn-gray mr-1">Cancel</a>
                                    <a href="#" data-dismiss="modal" class="btn btn-dark ml-1">Submit</a>
                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- {% include 'Admin/dashboard/footer.html' %} -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
    $('select').selectpicker();
</script> -->
<script>
function search_table(){
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("search_field_input");
  filter = input.value.toUpperCase();
  table = document.getElementById("paperTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td") ; 
    for(j=0 ; j<td.length ; j++)
    {
      let tdata = td[j] ;
      if (tdata) {
        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break ; 
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
}
    </script>